# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Ananthu Kuttattu (ananthu-kuttattu)
# Arindam Datta (dattaarindam)
# DCS Krishna (dcsk)
# Jennifer John (Jennifer-John)
# Meenakshi Dembi (meenakshidembi691)
# Panigrahi Spandita (panigs7)
# Pavan Mudunuri (Pavan-Mudunuri)
# Prabhulinga Revur (prabhu-dell)
# Prasad Raghavendra (prasar6)
# Rajendra Indukuri (rajendraindukuri)

# for all files:
* @ananthu-kuttattu @dattaarindam @dcsk @Jennifer-John @meenakshidembi691 @panigs7 @Pavan-Mudunuri @prabhu-dell @prasar6 @rajendraindukuri
