# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Bhavneet Sharma (Bhavneet-Sharma)
# Meenakshi Dembi (meenakshidembi691)
# Trisha Datta (trisha-dell)
# Sachin Apagundi (sachin-apa)
# Felix Stephen (felixs88)

# for all files:
@Bhavneet-Sharma @meenakshidembi691 @trisha-dell @sachin-apa @felixs88
